* {
    margin: 0;
    background-image:url(https://wallpapercave.com/wp/wp2465958.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.back {
    position: absolute;
    visibility: hidden;
    width: 40%;
    height: 50%;
    top: 35%;
    left: 38%;

}

form {
    visibility:visible;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background: #3C9EA5;
    text-align: center;
    box-shadow: 0px 0px 30px #13757C;
}

label {
    margin-top: 10px;
    background: inherit;
}

input {
    display: flex;
    border-radius: 9px;
    text-align: center;
    margin: 10 auto;
}

.bar {
    width: 70%;
    background: white;
}

.button {
    margin-top: 30px;
    background: lightblue;
    width: 70%;
    height: 15%;
    justify-content: center;
    border: 1px solid black;
}
